menu "BIODYN-100 Config"

    config CONFIG_OPTION_EXAMPLE
        bool "a short description" 
        help
			a long description. config option is set as a macro to given value during compile.
endmenu

